<main>
  <div class="container px-5 py-4 px-sm-0">
    <div class="row">
      <%= render 'books/new', book: @book, user: current_user %>

      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <p><%= user.name %></p>
                <% end %>
              </td>
              <td>フォロー数：<%= user.followings.count %></td>
              <td>フォロワー数：<%= user.followers.count %></td>
              <td>
                <% if user == current_user %>
                <% else %>
                  <% if current_user.following?(user) %>
                    <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class:"btn btn-primary mx-auto" %>
                  <% else %>
                    <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-success mx-auto" %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to "Show", user_path(user.id) %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</main>